
.disabled {
  background-color: RoyalBlue;
  color: DimGray;
  opacity: 0.75;
}

.enabled {
  background-color: DodgerBlue;
  color: Black;
  opacity: 1;
}

.selected {
  border-color: Aqua;
}

.notSelected {
  border-color: DarkBlue;
}


/* Control the left side */
.left {
  left: 4vw;
}

/* Control the right side */
.right {
  right: 4vw;
}

/* If you want the content centered horizontally and vertically */
.centered {
  text-align: center;
}


.divBase {
  box-sizing: content-box;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  border-style: solid;
  border-width: 2vMin;
  border-radius: 3vMin;
  font-family: helvetica;
  font-weight: bold;
}


.poolTempSplit {
  height: 18vh;
  width: 90vw;
  top: 2vh;
  left: 4vw; 
  font-size: 4vMin;
}

.solarTempSplit {
  height: 10vh;
  width: 90vw;
  top: 25vh;
  left: 4vw; 
  font-size: 2.35vMin;
}

.topButtonSplit {
  height: 15vh;
  width: 40vw;
  top: 40vh;
  font-size: 3vMin;
}

.bottomButtonSplit {
  height: 15vh;
  width: 40vw;
  top: 60vh;
  font-size: 3vMin;
}

.refreshSplit {
  height: 8vh;
  width: 40vw;
  top: 80vh;
  left: 4vw; 
  font-size: 2vMin;
}

.chartSplit {
  height: 8vh;
  width: 40vw;
  top: 80vh;
  right: 4vw; 
  font-size: 2vMin;
}

.chartButtons {
  height: 7vh;
  width: 14vw;
  top: 80vh;
  font-size: 1.5vMin;
}

.chartButton1 {
  left: 4vw; 
}

.chartButton2 {
  left: 23vw; 
}

.chartButton3 {
  left: 42vw; 
}

.chartButton4 {
  left: 61vw; 
}

.chartButton5 {
  left: 80vw; 
}


