/* Split the screen in half */

.poolTempSplit {
  height: 15%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 4%;
  overflow-x: hidden;
  padding-top: 20px;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  margin: 1%;
  font-size: 40;
  font-family: helvetica;
  font-weight: bold;
}

.solarTempSplit {
  height: 7%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 28%;
  overflow-x: hidden;
  padding-top: 20px;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  margin: 1%;
  font-size: 18;
  font-family: helvetica;
}

.topButtonSplit {
  height: 14%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 40%;
  overflow-x: hidden;
  padding-top: 20px;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  margin: 1%;
  font-size: 20;
  font-family: helvetica;
}

.bottomButtonSplit {
  height: 14%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 60%;
  overflow-x: hidden;
  padding-top: 20px;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  margin: 1%;
  font-size: 20;
  font-family: helvetica;
}

.refreshSplit {
  height: 13%;
  width: 94%;
  margin: 1%;
  position: fixed;
  z-index: 1;
  top: 80%;
  overflow-x: hidden;
  padding-top: 20px;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  font-size: 20;
  font-family: helvetica;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.disabled {
  background-color: Grey;
  color: darkGrey;
  opacity: 0.5;
}

.enabled {
  background-color: DodgerBlue;
  color: Black;
  opacity: 1;
}

.selected {
  border-color: DarkBlue;
}

.notSelected {
  border-color: White;
}


/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
} 